SECRET_KEY=examportal-secret-key-2024
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Anamika@123
DB_NAME=proctored_exam_db
ADMIN_PASSWORD=Admin@1234
MAIL_EMAIL=anamikapanwar73@gmail.com
MAIL_PASSWORD=ehnb xthn kycy kxyf